---
import type { TableRowElement } from "ox-json-types";
import Contents from "./Contents.astro";

interface Props {
    node: TableRowElement
}

const { node } = Astro.props;
---
<tr>
    {node.contents.map((column) => <td><Contents contents={column.contents} /></td>)}
</tr>
